.about{
    margin-top: 4rem;
    position: relative;
    text-align: center;
    align-items: center;
    
    .container{
     
        text-align: center;
        text-align: center;
        
        h1{
        
            font-size: 3rem;
            margin-bottom: 5rem;
            font-weight: 600;
        }
        p{
         width: 50%;
         margin: 3rem auto;
         line-height: 2;  
         letter-spacing: 2px;
         word-spacing: 3px;
          
        }
        
        
    }
}

