@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');
.container{
    
    width: 75%;
    margin-left:20% ;
}

body{
font-family: Montserrat,sans-serif;

}
.btn2{
    background-color: chocolate;
    cursor: pointer;
    color:black;
    transition: all 0.4s;
    &:hover{
        color: white;
        border: solid 2px white;
    }
}



@media screen and (max-width:1140px) {
    section{
        margin-top: 5.3rem;
    }
    .container{
        width: 95%;
        margin: 0 auto;
    }
}